# =========================
# SECRET FILES
# =========================
serviceAccountKey.json
*.pem
*.key
*.crt
.env
.env.*

# =========================
# PYTHON
# =========================
venv/
.env_venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# LOG
# =========================
*.log

# =========================
# DATA
# =========================
*.csv
*.sqlite3
*.db

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db

# =========================
# LARGE BINARIES
# =========================
mediamtx
*.zip
*.tar
*.gz
*.iso

# =========================
# EDITOR
# =========================
.vscode/
.idea/
