# Python
venv/
__pycache__/
*.pyc

# Laravel
/vendor/
/node_modules/
/storage/logs/*
.env

# Secret
serviceAccountKey.json
*.pem
*.key

# Binary besar
mediamtx
*.db
*.sqlite
*.log
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db
