Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-rfm9x==2.2.25
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
google-api-core==2.30.3
google-auth==2.50.0
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
httplib2==0.31.2
idna==3.13
jwcrypto==1.5.7
oauth2client==4.1.3
paho-mqtt==2.1.0
proto-plus==1.27.2
protobuf==7.34.1
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pyftdi==0.57.1
pyparsing==3.3.2
Pyrebase4==4.9.0
pyserial==3.5
python-jwt==4.1.0
pyusb==1.3.1
requests==2.33.1
requests-toolbelt==1.0.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
rsa==4.9.1
six==1.17.0
sysv_ipc==1.2.0
typing_extensions==4.15.0
urllib3==1.26.20
